In this notebook, I attempt to address [ER team issue #72](https://github.com/hackoregon/emergency-response/issues/72), 'Get incident rates for each FMA'

4/12
So far, I have calculated FMA incident rates by square mile (also split by medical vs fire/explosion). If the rollups look acceptable to the team, I can append them to `fma_api_rollup` in the db and then can add incidents per capita and household. 

4/27
Updated queries to accommodate the fact that fma_shapes.fma datatype is now INTEGER instead of VARCHAR. CAST  fma_shapes.fma as text with leading zero if less than 10 to enable JOIN to fma_shapes.fma which is VARCHAR. Added some columns for csv export.

In [2]:
import os 
from dotenv import load_dotenv, find_dotenv
import psycopg2
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import sys

%matplotlib inline

In [3]:
# walk root diretory to find and load .env file w/ AWS host, username and password
load_dotenv(find_dotenv())

True

In [4]:
# connect to postgres
def pgconnect():
    try:
        conn = psycopg2.connect(database=os.environ.get("erdatabase"), user=os.environ.get("eruser"), 
                            password = os.environ.get("erpassword"), 
                            host=os.environ.get("erhost"), port=os.environ.get("erport"))
        print("Opened database successfully")
        return conn
    
    except psycopg2.Error as e:
        print("I am unable to connect to the database")
        print(e)
        print(e.pgcode)
        print(e.pgerror)
        print(traceback.format_exc())
        return None

In [8]:
def pquery(QUERY):
    '''
    takes SQL query string, opens a cursor, executes query in psql, and pulls results into pandas df
    '''
    conn = pgconnect()
    cur = conn.cursor()
    
    try:
        print("SQL QUERY = "+QUERY)
        cur.execute("SET statement_timeout = 0")
        cur.execute(QUERY)
        # Extract the column names and insert them in header
        col_names = []
        for elt in cur.description:
            col_names.append(elt[0])    
    
        D = cur.fetchall() #convert query result to list
        # Create the dataframe, passing in the list of col_names extracted from the description
        return pd.DataFrame(D, columns=col_names)
        
        
    except Exception as e:
        print(e.pgerror)
            
    finally:
        conn.close()

In [5]:
# table of fma, fma_area, and number of incidents
QUERY1='''select s.fma, ST_Area(s.geom::geography) as fma_area,count(i.incident_id) as num_incidents
 FROM fma_shapes s
 INNER JOIN
 incident i
 ON
 LPAD(s.fma::text,2,'0') = i.fmarespcomp
 GROUP BY s.fma, fma_area
 ORDER BY num_incidents DESC;
'''

In [6]:
df1 = pquery(QUERY1)

Opened database successfully
SQL QUERY = select s.fma, ST_Area(s.geom::geography) as fma_area,count(i.incident_id) as num_incidents
 FROM fma_shapes s
 INNER JOIN
 incident i
 ON
 LPAD(s.fma::text,2,'0') = i.fmarespcomp
 GROUP BY s.fma, fma_area
 ORDER BY num_incidents DESC;

In [7]:
df1

    fma      fma_area  num_incidents
0     1  2.653218e+06          43139
1     7  1.477483e+07          42676
2     3  6.330879e+06          30723
3    11  1.374387e+07          30118
4     4  6.131893e+06          29829
5    13  8.638372e+06          29499
6    31  1.093237e+07          24451
7    25  1.295804e+07          22742
8    30  1.078235e+07          21593
9    19  1.084701e+07          21263
10   14  2.077370e+07          18894
11    9  8.939757e+06          16371
12   12  2.096213e+07          16259
13   28  9.894556e+06          15493
14   24  1.114004e+07          14247
15   29  1.712163e+07          14208
16   22  3.927023e+07          13980
17    8  9.514225e+06          12831
18    2  3.729486e+07          12804
19   21  2.466131e+06          12641
20   18  1.596139e+07          12292
21   26  8.407706e+06          11571
22   20  1.210283e+07          10183
23   17  3.544698e+07           8104
24    5  1.048228e+07           7834
25   23  5.187585e+06           7118
26   16  5.640719e+06           4780
27   10  1.102049e+07           3770
28   15  6.016788e+06           2808
29    6  8.540120e+06           2477
30   27  2.146527e+07           1646

In [6]:
# same table but convert area to square miles (1m^2 = 3.861x10^-7 mile^2)
QUERY2='''select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
   LPAD(s.fma::text,2,'0') = i.fmarespcomp
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC
'''

In [9]:
df2 = pquery(QUERY2)

Opened database successfully
SQL QUERY = select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
   LPAD(s.fma::text,2,'0') = i.fmarespcomp
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
fma                   31 non-null int64
fma_area_mi           31 non-null float64
num_incidents         31 non-null int64
incidents_per_sqmi    31 non-null float64
dtypes: float64(2), int64(2)
memory usage: 1.0 KB

In [11]:
df2

    fma  fma_area_mi  num_incidents  incidents_per_sqmi
0     1     1.024407          43139        42111.178792
1    21     0.952173          12641        13275.945865
2     4     2.367524          29829        12599.238744
3     3     2.444352          30723        12568.974149
4    13     3.335275          29499         8844.547307
5     7     5.704560          42676         7481.032716
6    31     4.220988          24451         5792.719035
7    11     5.306509          30118         5675.671046
8    30     4.163065          21593         5186.804093
9    19     4.188032          21263         5077.086780
10    9     3.451640          16371         4742.962315
11   25     5.003100          22742         4545.582141
12   28     3.820288          15493         4055.453143
13   26     3.246215          11571         3564.458444
14   23     2.002927           7118         3553.799687
15    8     3.673442          12831         3492.909167
16   24     4.301168          14247         3312.356095
17   14     8.020727          18894         2355.646856
18   16     2.177882           4780         2194.793298
19   20     4.672904          10183         2179.158652
20   29     6.610662          14208         2149.255294
21   12     8.093477          16259         2008.901727
22   18     6.162694          12292         1994.582375
23    5     4.047208           7834         1935.655516
24   15     2.323082           2808         1208.739114
25   22    15.162237          13980          922.027544
26    2    14.399547          12804          889.194661
27   10     4.255011           3770          886.014163
28    6     3.297340           2477          751.211486
29   17    13.686080           8104          592.134507
30   27     8.287739           1646          198.606630

In [10]:
# look at just medical incidents
QUERY3='''select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
   LPAD(s.fma::text,2,'0') = i.fmarespcomp
  INNER JOIN incsitfound
    ON i.incsitfoundprm_id = incsitfound.incsitfound_id
  LEFT JOIN incsitfoundsub
    ON incsitfound.incsitfoundsub_id = incsitfoundsub.incsitfoundsub_id
  LEFT JOIN incsitfoundclass
    ON incsitfoundsub.incsitfoundclass_id = incsitfoundclass.incsitfoundclass_id 
 WHERE incsitfoundclass.incsitfoundclass_id = 3
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC;
'''

In [11]:
df3 = pquery(QUERY3)

Opened database successfully
SQL QUERY = select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
   LPAD(s.fma::text,2,'0') = i.fmarespcomp
  INNER JOIN incsitfound
    ON i.incsitfoundprm_id = incsitfound.incsitfound_id
  LEFT JOIN incsitfoundsub
    ON incsitfound.incsitfoundsub_id = incsitfoundsub.incsitfoundsub_id
  LEFT JOIN incsitfoundclass
    ON incsitfoundsub.incsitfoundclass_id = incsitfoundclass.incsitfoundclass_id
 WHERE incsitfoundclass.incsitfoundclass_id = 3
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC;

In [14]:
df3

    fma  fma_area_mi  num_incidents  incidents_per_sqmi
0     1     1.024407          33984        33174.303996
1    21     0.952173           9233         9696.765143
2     4     2.367524          20167         8518.181895
3     3     2.444352          19821         8108.896807
4    13     3.335275          20171         6047.776661
5     7     5.704560          32937         5773.802010
6    11     5.306509          22245         4192.021463
7    30     4.163065          16836         4044.136235
8    19     4.188032          15518         3705.320635
9     9     3.451640          11703         3390.561845
10   25     5.003100          16688         3335.532265
11   31     4.220988          12722         3013.985995
12   28     3.820288          11034         2888.263730
13   26     3.246215           8520         2624.594758
14    8     3.673442           9199         2504.190743
15   23     2.002927           4764         2378.519487
16   24     4.301168           9606         2233.346856
17   14     8.020727          12988         1619.304613
18   29     6.610662          10540         1594.394060
19   16     2.177882           3260         1496.867396
20   20     4.672904           6968         1491.149709
21   18     6.162694           8852         1436.384900
22   12     8.093477          11438         1413.236851
23    5     4.047208           5300         1309.544835
24    2    14.399547           9068          629.742048
25   22    15.162237           9387          619.103903
26   15     2.323082           1320          568.210695
27   10     4.255011           2108          495.415877
28   17    13.686080           5218          381.263309
29    6     3.297340           1027          311.463139
30   27     8.287739            802           96.769451

In [15]:
# look at non-medical incidents
QUERY4='''select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
  LPAD(s.fma::text,2,'0') = i.fmarespcomp
  INNER JOIN incsitfound
    ON i.incsitfoundprm_id = incsitfound.incsitfound_id
  LEFT JOIN incsitfoundsub
    ON incsitfound.incsitfoundsub_id = incsitfoundsub.incsitfoundsub_id
  LEFT JOIN incsitfoundclass
    ON incsitfoundsub.incsitfoundclass_id = incsitfoundclass.incsitfoundclass_id 
 WHERE incsitfoundclass.incsitfoundclass_id != 3
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC;
'''

In [16]:
df4 = pquery(QUERY4)

Opened database successfully
SQL QUERY = select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
  LPAD(s.fma::text,2,'0') = i.fmarespcomp
  INNER JOIN incsitfound
    ON i.incsitfoundprm_id = incsitfound.incsitfound_id
  LEFT JOIN incsitfoundsub
    ON incsitfound.incsitfoundsub_id = incsitfoundsub.incsitfoundsub_id
  LEFT JOIN incsitfoundclass
    ON incsitfoundsub.incsitfoundclass_id = incsitfoundclass.incsitfoundclass_id
 WHERE incsitfoundclass.incsitfoundclass_id != 3
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC;

In [17]:
df4

    fma  fma_area_mi  num_incidents  incidents_per_sqmi
0     1     1.024407           8762         8553.238336
1     3     2.444352          10695         4375.392329
2     4     2.367524           9124         3853.815223
3    21     0.952173           3299         3464.705752
4    13     3.335275           9127         2736.505755
5     7     5.704560           9353         1639.565540
6    11     5.306509           7575         1427.492137
7    19     4.188032           5637         1345.978375
8     9     3.451640           4574         1325.167041
9    25     5.003100           5978         1194.859293
10   23     2.002927           2280         1138.334263
11   28     3.820288           4238         1109.340374
12   24     4.301168           4482         1042.042537
13   30     4.163065           4256         1022.323819
14    8     3.673442           3522          958.773758
15   26     3.246215           2947          907.826379
16   31     4.220988           3508          831.084961
17   14     8.020727           5726          713.900386
18   16     2.177882           1479          679.100269
19   20     4.672904           3088          660.830985
20   15     2.323082           1463          629.766853
21    5     4.047208           2485          614.003569
22   12     8.093477           4653          574.907420
23   18     6.162694           3376          547.812406
24   29     6.610662           3489          527.783764
25    6     3.297340           1308          396.683336
26   10     4.255011           1617          380.022520
27   22    15.162237           4315          284.588616
28    2    14.399547           3412          236.951904
29   17    13.686080           2752          201.080228
30   27     8.287739            806           97.252092

In [12]:
# look at just fire/explosion incidents
QUERY5='''select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
LPAD(s.fma::text,2,'0') = i.fmarespcomp
  INNER JOIN incsitfound
    ON i.incsitfoundprm_id = incsitfound.incsitfound_id
  LEFT JOIN incsitfoundsub
    ON incsitfound.incsitfoundsub_id = incsitfoundsub.incsitfoundsub_id
  LEFT JOIN incsitfoundclass
    ON incsitfoundsub.incsitfoundclass_id = incsitfoundclass.incsitfoundclass_id 
 WHERE incsitfoundclass.incsitfoundclass_id IN (1,2)
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC;
'''

In [13]:
df5 = pquery(QUERY5)

Opened database successfully
SQL QUERY = select s.fma, ST_Area(s.geom::geography)*(.0000003861) as fma_area_mi, count(i.incident_id) as num_incidents,
count(i.incident_id)/(ST_Area(s.geom::geography)*(.0000003861)) as incidents_per_sqmi
 FROM fma_shapes s
 INNER JOIN
 incident i
   ON
LPAD(s.fma::text,2,'0') = i.fmarespcomp
  INNER JOIN incsitfound
    ON i.incsitfoundprm_id = incsitfound.incsitfound_id
  LEFT JOIN incsitfoundsub
    ON incsitfound.incsitfoundsub_id = incsitfoundsub.incsitfoundsub_id
  LEFT JOIN incsitfoundclass
    ON incsitfoundsub.incsitfoundclass_id = incsitfoundclass.incsitfoundclass_id
 WHERE incsitfoundclass.incsitfoundclass_id IN (1,2)
 GROUP BY s.fma, s.geom
 ORDER BY incidents_per_sqmi DESC;

In [20]:
df5

    fma  fma_area_mi  num_incidents  incidents_per_sqmi
0     1     1.024407            837          817.057805
1    21     0.952173            561          589.178517
2     3     2.444352            934          382.105324
3     4     2.367524            840          354.801051
4    13     3.335275            973          291.730043
5     7     5.704560           1191          208.780344
6    11     5.306509           1021          192.405211
7     9     3.451640            597          172.961243
8    19     4.188032            669          159.740914
9    23     2.002927            300          149.780824
10    8     3.673442            509          138.562136
11   26     3.246215            421          129.689483
12   25     5.003100            638          127.520948
13   28     3.820288            487          127.477292
14   24     4.301168            509          118.339949
15   31     4.220988            472          111.822150
16   30     4.163065            456          109.534695
17   14     8.020727            706           88.021948
18   20     4.672904            355           75.969883
19   12     8.093477            557           68.820854
20   16     2.177882            123           56.476899
21    5     4.047208            226           55.840968
22   18     6.162694            340           55.170681
23   29     6.610662            357           54.003670
24    6     3.297340            159           48.220681
25   15     2.323082             83           35.728400
26   17    13.686080            454           33.172392
27   22    15.162237            495           32.646898
28   10     4.255011            137           32.197332
29    2    14.399547            434           30.139838
30   27     8.287739            108           13.031298

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
fma                   31 non-null int64
fma_area_mi           31 non-null float64
num_incidents         31 non-null int64
incidents_per_sqmi    31 non-null float64
dtypes: float64(2), int64(2)
memory usage: 1.0 KB

In [14]:
# inner join df2, df3 and df5 together on 'fma'

joined = df3.join(df5.set_index('fma'), on='fma', how = 'inner',lsuffix='_med', rsuffix='_fire')
joined['med_fire_ratio'] = joined['num_incidents_med']/joined['num_incidents_fire'] #add ratio of medical:fire incidents
joined = joined.join(df2[['fma','num_incidents']].set_index('fma'), on='fma')

In [15]:
# There are 7 * 52 = 364 weeks
joined['weekly_total_incs'] = joined['num_incidents']/364
joined['weekly_med_incs'] = joined['num_incidents_med']/364
joined['weekly_fire_incs'] = joined['num_incidents_fire']/364
joined.sort_values(by='fma',ascending=True)

,fma,fma_area_mi_med,num_incidents_med,incidents_per_sqmi_med,fma_area_mi_fire,num_incidents_fire,incidents_per_sqmi_fire,med_fire_ratio,num_incidents,weekly_total_incs,weekly_med_incs,weekly_fire_incs
0,1,1.024407,33984,33174.303996,1.024407,837,817.057805,40.602151,43139,118.513736,93.362637,2.299451
24,2,14.399547,9068,629.742048,14.399547,434,30.139838,20.894009,12804,35.175824,24.912088,1.192308
3,3,2.444352,19821,8108.896807,2.444352,934,382.105324,21.221627,30723,84.403846,54.453297,2.565934
2,4,2.367524,20167,8518.181895,2.367524,840,354.801051,24.008333,29829,81.947802,55.403846,2.307692
23,5,4.047208,5300,1309.544835,4.047208,226,55.840968,23.451327,7834,21.521978,14.560440,0.620879
29,6,3.297340,1027,311.463139,3.297340,159,48.220681,6.459119,2477,6.804945,2.821429,0.436813
5,7,5.704560,32937,5773.802010,5.704560,1191,208.780344,27.654912,42676,117.241758,90.486264,3.271978
14,8,3.673442,9199,2504.190743,3.673442,509,138.562136,18.072692,12831,35.250000,25.271978,1.398352
9,9,3.451640,11703,3390.561845,3.451640,597,172.961243,19.603015,16371,44.975275,32.151099,1.640110
27,10,4.255011,2108,495.415877,4.255011,137,32.197332,15.386861,3770,10.357143,5.791209,0.376374
6,11,5.306509,22245,4192.021463,5.306509,1021,192.405211,21.787463,30118,82.741758,61.112637,2.804945
22,12,8.093477,11438,1413.236851,8.093477,557,68.820854,20.535009,16259,44.667582,31.423077,1.530220
4,13,3.335275,20171,6047.776661,3.335275,973,291.730043,20.730730,29499,81.041209,55.414835,2.673077
17,14,8.020727,12988,1619.304613,8.020727,706,88.021948,18.396601,18894,51.906593,35.681319,1.939560
26,15,2.323082,1320,568.210695,2.323082,83,35.728400,15.903614,2808,7.714286,3.626374,0.228022
19,16,2.177882,3260,1496.867396,2.177882,123,56.476899,26.504065,4780,13.131868,8.956044,0.337912
28,17,13.686080,5218,381.263309,13.686080,454,33.172392,11.493392,8104,22.263736,14.335165,1.247253
21,18,6.162694,8852,1436.384900,6.162694,340,55.170681,26.035294,12292,33.769231,24.318681,0.934066
8,19,4.188032,15518,3705.320635,4.188032,669,159.740914,23.195815,21263,58.414835,42.631868,1.837912
20,20,4.672904,6968,1491.149709,4.672904,355,75.969883,19.628169,10183,27.975275,19.142857,0.975275
1,21,0.952173,9233,9696.765143,0.952173,561,589.178517,16.458111,12641,34.728022,25.365385,1.541209
25,22,15.162237,9387,619.103903,15.162237,495,32.646898,18.963636,13980,38.406593,25.788462,1.359890
15,23,2.002927,4764,2378.519487,2.002927,300,149.780824,15.880000,7118,19.554945,13.087912,0.824176
16,24,4.301168,9606,2233.346856,4.301168,509,118.339949,18.872299,14247,39.140110,26.390110,1.398352
10,25,5.003100,16688,3335.532265,5.003100,638,127.520948,26.156740,22742,62.478022,45.846154,1.752747
13,26,3.246215,8520,2624.594758,3.246215,421,129.689483,20.237530,11571,31.788462,23.406593,1.156593
30,27,8.287739,802,96.769451,8.287739,108,13.031298,7.425926,1646,4.521978,2.203297,0.296703
12,28,3.820288,11034,2888.263730,3.820288,487,127.477292,22.657084,15493,42.563187,30.313187,1.337912
18,29,6.610662,10540,1594.394060,6.610662,357,54.003670,29.523810,14208,39.032967,28.956044,0.980769
7,30,4.163065,16836,4044.136235,4.163065,456,109.534695,36.921053,21593,59.321429,46.252747,1.252747
11,31,4.220988,12722,3013.985995,4.220988,472,111.822150,26.953390,24451,67.173077,34.950549,1.296703

In [24]:
# export csv to data folder for import to db
df_import = joined.sort_values(by='med_fire_ratio',ascending=False)
df_import.pop('fma_area_mi_fire') # delete the redundant data column
#df_import 
df_import.to_csv("responseTimeMetricsData/incidents_persqmi_fma.csv", index=False)